

.parentDiv {
    text-align: center;
    background-color: black;
}
.parentDiv div {
    display: inline;
    padding: 5px;
    margin: 3px;
    font-size: 60px;
    border-radius: 8px;
    color: white;
    background-color: rgb(13, 15, 15);
}